@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wijkuy</h1>
    <p class="lead">Wijkuy is my username and this is my sample project</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis elementum accumsan. Etiam auctor tortor ac lobortis tempus. Curabitur tempor luctus leo. Praesent finibus viverra sagittis. Phasellus auctor aliquet metus, non porttitor quam eleifend vitae. Integer porta, metus vitae dignissim mattis, nulla massa tempus massa, quis porta metus urna sed nisl. Ut ut lorem vitae elit rhoncus porta quis porta nibh. Etiam quis elit eget urna dictum hendrerit. Praesent dictum hendrerit sapien, eu vestibulum dolor faucibus eu. Proin dapibus ac erat sed eleifend. Fusce pharetra pretium efficitur. Nullam ultrices felis vitae sem luctus, id lobortis lectus blandit. Phasellus tincidunt nulla eget maximus ullamcorper. Duis sed augue sit amet elit sollicitudin pretium.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ipsum</h2>
        <p>Sed porttitor sodales magna non ultrices. Nam eget leo quis tortor blandit aliquam vel auctor dolor. Donec interdum purus nec nisi vestibulum, vel faucibus lacus aliquam. Nunc mollis ante urna, in volutpat ex rutrum sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis augue odio, imperdiet vitae nibh at, accumsan hendrerit arcu. Phasellus at sem in metus tincidunt hendrerit ac ac diam. Nulla malesuada, nunc sit amet consectetur sagittis, turpis magna iaculis ipsum, non posuere nunc quam sodales felis. Suspendisse potenti. Nulla facilisi. Integer in sodales nulla. Suspendisse dignissim erat sed odio pretium, tincidunt ultrices magna cursus. Suspendisse posuere varius scelerisque.</p>
    </div>
    <div class="col-md-4">
        <h2>Dolor</h2>
        <p>Nunc nec nibh pretium, pellentesque ex vitae, fringilla odio. Nulla dignissim sem at tincidunt porttitor. In hac habitasse platea dictumst. In pellentesque tristique lectus vitae finibus. Ut pretium, ligula quis tincidunt eleifend, libero nunc hendrerit justo, sit amet venenatis lectus ligula eu sem. Aliquam erat volutpat. Maecenas in sagittis lacus, nec accumsan massa. Nam eget est ac ligula vulputate sollicitudin. Sed efficitur fermentum iaculis. Nam ligula odio, scelerisque congue quam eget, porttitor pretium velit. Mauris dapibus finibus ipsum nec ultricies. Sed ac nibh elementum, condimentum enim vitae, elementum sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque purus vel est rutrum vestibulum. Proin sed mattis justo, sit amet vulputate purus. Integer nec orci quis urna varius auctor.</p>
    </div>
</div>